<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.france_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_app"
        android:label="WeShare"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Activities.ResetPassword"
            android:exported="true" />

        <activity
            android:name=".Activities.CreateAccount"
            android:exported="true"
            android:parentActivityName=".Activities.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.LoginActivity" />
        </activity>

        <activity
            android:name=".Activities.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activities.LoginActivity"
            android:exported="true"
            android:parentActivityName=".Activities.Second_Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.Second_Activity" />
        </activity>

        <activity
            android:name=".Activities.Beginning"
            android:exported="true" />

        <activity
            android:name=".Activities.Second_Activity"
            android:exported="true"
            android:parentActivityName=".Activities.FirstActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.FirstActivity" />
        </activity>

        <activity
            android:name=".Activities.FirstActivity"
            android:exported="true"
            android:parentActivityName=".Activities.Beginning">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.Beginning" />
        </activity>

    </application>

</manifest>